<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  </head>

  <body>
    <header class="page">
      <div>
      <div class="name"><h1>{{ .Site.Title | markdownify }}</h1></div>
      <img src="/sphtkr.jpg" class="icon" />
      </div>
      <div class="clear"></div>
    </header>
    <nav>
    <ul class="menu">
      {{ $page := $}}
      {{ range $menu := .Site.Menus.main }}
      <li{{ if eq $page.URL $menu.URL }} class="active"{{ end }}>
        <a href="{{ $menu.URL | relURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    </nav>
    <main>
